# Global editorconfig file for all coding projects
root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.js]
indent_style = space
indent_size = 2

# CSharp formatting rules
[*.cs]
csharp_style_namespace_declarations = file_scoped

# Disable unneccessary initialization warning
dotnet_diagnostic.CA1805.severity = none
