[Unit]
Description=Weekly backup to Backblaze
After=network-online.target

[Service]
Type=oneshot
#ExecStart=/usr/bin/rsync -az --exclude=".cache" --exclude=".local" -e "ssh -i /home/viperzer0/.ssh/backup -p 2222" /home/viperzer0/ viperzer0@viperzer0-pi.home:/mnt/backup/viperzer0
ExecStart=/usr/bin/bash /home/viperzer0/.scripts/backup.sh
Restart=on-abnormal
RestartSec=120

[Install]
WantedBy=multi-user.target
