[Unit]
Description="Configure my Wacom tablet"
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/viperzer0/.scripts/map-wacom.sh

[Install]
WantedBy=graphical-session.target
